/* FRAMEWORK styles */

body {margin:0}

* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

div, article        {margin: 0;}

article     {
    position: absolute; z-index: 1;
    background-color: #f3f3f3;
    margin: 0 1.5%;
    width:97%; height: 100%; overflow-y: scroll; cursor:default;

    font-family: arial serif;

    -webkit-overflow-scrolling: touch;
    font-smoothing: antialiased;
}

article > * {
    position: relative; top:0; left:0;
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
}

article * {
    -webkit-transform: translate3d(0,0,0);
}

.pages      {top:0}

.atPage1    {left:0}
.atPage2    {left:-100%}
.atPage3    {left:-200%}

.page1      {left:0; z-index:3}
.page2      {left:100%; z-index:2}
.page3      {left:200%; z-index:1}

#scene  {
    position: absolute; width:100%;
    height: 100%; color: #2b0e48;
}

#screen {
    position:absolute; width:100%; height: 100%; overflow: hidden
}

article::-webkit-scrollbar {
    display: none;
}

.hide       {display:none; z-index:1}




/* TEXT styles */

#refresher {
    position: absolute; top:-85px; left:0;
    width: 100%;
}

#refresher em {
    text-align: center;
    height: 15px;
    display: block;
    color: #696969;
}

#refresher em:after {
    content: "Потяните..";
}

#refresher i.arrow {
    display: block;
    width: 100%;
    height: 64px;
    padding: 0;
    background-size: auto 64px;
    background: url('../res/refresher.png') no-repeat center;
    -webkit-transition: -webkit-transform .2s;
    -webkit-transform: rotate(0deg);
}

#refresher.rotate i.arrow {
    -webkit-transform: rotate(180deg);
}

#refresher.loader i.arrow {
    display: none;
}

#refresher.loader em {
    display: none;
}

#refresher.loader i.breather {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-animation: breather 1.4s infinite;
    animation: breather 1.4s infinite;
}

@keyframes breather {
    0% {background-color: white}
    50% {background-color: darkslateblue}
    100% {background-color: white}
}

@-webkit-keyframes breather {
    0% {background-color: white}
    50% {background-color: darkslateblue}
    100% {background-color: white}
}

#refresher.rotate em:after {
    content: "Отпустите, чтобы обновить.";
}

.pic_show_screen {height: 140px; white-space: nowrap; margin: 0; overflow: hidden}

.pic_show {position: absolute; margin:0}

.pic_show > * {
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}

article img {max-width:140px; height:auto}
article:after  {content:""; display: table; clear:both; zoom:1}

.fl_left {float:left; padding: 0 10px 10px 0; margin: 5px 10px 10px 0}
.fl_right {float:right; padding: 0 0 10px 10px; margin: 5px 0 10px 10px}

.grey_rectangular  {width:auto; height: 60px; background-color: lightslategray; top:200px; left:180px; line-height:4em; padding: 0 10px}
.green_circle  {width:130px; height: 130px; background-color: lightgreen; top:220px; line-height:8.5em; border-radius: 50%;}
.red_circle  {
    min-width:150px; min-height: 150px; background-color: crimson; top:40px; left: 180px; line-height:9em; border-radius: 50%
}

.title {text-align: center; font-weight: bold; color:#fff; letter-spacing: 1px}