/* FRAMEWORK styles */

body {margin:0}

* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

div, article        {margin: 0;}
article             {border-left: 1px dashed #c5bdcb}

article     {
    position: absolute; z-index: 1;
    width:99%; height: 100%; overflow-y: scroll; cursor:default;
    -webkit-overflow-scrolling: touch;
    font-smoothing: antialiased;
}

article > * {
    position: relative; left:0;
    -webkit-transform: translateZ(0px);
    -webkit-transform: translate3d(0,0,0);
}

article * {
    -webkit-transform: translate3d(0,0,0);
}

.pages      {top:0}

.atPage1    {left:0}
.atPage2    {left:-100%}
.atPage3    {left:-200%}

.page1      {left:0; z-index:3}
.page2      {left:100%; z-index:2}
.page3      {left:200%; z-index:1}

#scene  {
    position: absolute; width:100%; height: 100%; color: #2b0e48;
}

#screen {
    position:absolute; width:100%; height: 100%; overflow: hidden
}

article::-webkit-scrollbar {
    display: none;
}

.hide       {display:none; z-index:1}




/* TEXT styles */

.pic_show_screen {position: relative; height: 250px; white-space: nowrap; margin: 0; overflow: hidden}

.pic_show {position: absolute; margin:0}

.pic_show > * {position: relative}

.p {clear: both}

.fl_left {float:left; padding: 0 10px 10px 0}
.fl_right {float:right; padding: 0 0 10px 10px}

.grey_rectangular  {width:auto; height: 60px; background-color: lightslategray; top:200px; left:180px; line-height:4em; padding: 0 10px}
.green_circle  {width:130px; height: 130px; background-color: lightgreen; top:220px; line-height:8.5em; border-radius: 50%;}
.red_circle  {
    min-width:150px; min-height: 150px; background-color: crimson; top:40px; left: 180px; line-height:9em; border-radius: 50%
}

.title {text-align: center; font-weight: bold; color:#fff; letter-spacing: 1px}